<div class='custom-container'>
  <h1>Editing event</h1>

  <%= render "form", event: @event %>

  <br>

  <div>
    <%= link_to "Show this event", [:admin, @event] %> |
    <%= link_to "Back to events", admin_events_path %>
  </div>
</div>
