:root {
  /* Theme Colors */
  --app-primary: #2B5DFF;
  --app-primary-dark: #2247BF;
  --app-secondary: #FF4871;
  --app-secondary-dark: #D33B5D;

  /* Scheme Colors */
  --app-accent-1: #ffffff;
  --app-accent-2: #ededed;
  --app-accent-3: #15192A;
  --app-accent-4: #1F263C;
  --app-accent-5: #232A46;
  --app-accent-6: #394466;

  /* Main */
  --app-background-color: var(--app-accent-3);
  --app-text-color: var(--app-accent-2);
  --app-text-contrast-color: var(--app-accent-6);
  --app-border-color: rgba(0, 0, 0, 0.2);
  --app-border-radius: 4px;
  --app-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);

  /* so my eyes don't melt */
  --dev-txt-colour: #d0d0d5;
  --dev-colour: #3b3b4f;

  /* Generic */
  --gen-panel-background-color: var(--app-accent-5);
  --gen-panel-border-radius: 4px;
  --gen-panel-shadow: var(--app-shadow);

  /* Admin Dashboard - Basic*/
  --adm-dsh-background-color: var(--app-accent-3);
  --adm-dsh-components-background-color: var(--app-accent-5);
  --adm-dsh-components-shadow: var(--app-shadow);
  --adm-dsh-components-border-color: rgba(0, 0, 0, 0.2);
  --adm-dsh-components-radius: 4px;
  --adm-dsh-text-color: var(--app-accent-2);
  --adm-dsh-text-letter-spacing: 0.2px;

  /* Admin Dashboard - Stats Panel */
  --adm-dsh-components-stats-text-color: #fff;
  --adm-dsh-components-stats-darker-text-color: #f8f8f8;

  /* Admin Dashboard - Stats Panel Color Variations */
  --adm-dsh-components-stats-background-color-v1: #e74c3c;
  --adm-dsh-components-stats-action-background-color-v1: #c0392b;
  --adm-dsh-components-stats-action-darker-background-color-v1: #9f3124;

  --adm-dsh-components-stats-background-color-v2: #2ecc71;
  --adm-dsh-components-stats-action-background-color-v2: #27ae60;
  --adm-dsh-components-stats-action-darker-background-color-v2: #229452;

  --adm-dsh-components-stats-background-color-v3: #3498db;
  --adm-dsh-components-stats-action-background-color-v3: #2980b9;
  --adm-dsh-components-stats-action-darker-background-color-v3: #216897;

  --adm-dsh-components-stats-background-color-v4: #1abc9c;
  --adm-dsh-components-stats-action-background-color-v4: #16a085;
  --adm-dsh-components-stats-action-darker-background-color-v4: #138770;

  /* Admin Dashboard - Support Items */
  --adm-dsh-components-support-items-hover-color: #f4f4f4;
  --adm-dsh-components-support-items-hover-border-color: #706fd3;

  /* Home components */
  --item-colour: #D9D9D9;

  /* Misc */
  --misc-padding: 15px;
  --misc-shadow-color: rgba(0, 0, 0, 0.2);
}