<div id="home">
    <div class="home-banner">
        <h1>This is Ruby on Roids</h1>
    </div>
    <div id="home-content-box">
        <h2 class="home-headers">Upcoming events</h2>
        <div id="recent-events" class="home-content">
            <%# do we render things here? %>
            <div class="revent-item"></div>
        </div>
        <h2 class="home-headers">Lastest blog posts</h2>
        <div id="recent-blogs" class="home-content">
            <div class="rblog-item"></div>
        </div>
    </div>
    <div id="about-footer">
        <h2>About Roids</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia veniam deleniti, 
            tempora ipsam aperiam tempore a maxime non asperiores dolorem placeat maiores atque possimus. 
            Libero nihil accusantium eum aliquid unde.
        </p>
    </div>
</div>