<div id="home">
    <section class="home-banner">
        <h1>This is Ruby on Roids</h1>
    </section>
    <section id="home-content-box">
        <article id="recent-events" class="home-content">
            <h2 class="home-headers">Upcoming events</h2>
            <div class="list-box comp-design">
                <%# do we render things here? %>
                <div class="revent-item list-item"></div>
                <div class="revent-item list-item"></div>
                <div class="revent-item list-item"></div>
            </div>
        </article>
        <article id="recent-blogs" class="home-content">
            <h2 class="home-headers">Lastest blog posts</h2>
            <div class="tile-box comp-design">
                <div class="rblog-item tile"></div>
                <div class="rblog-item tile"></div>
                <div class="rblog-item tile"></div>
                <div class="rblog-item tile"></div>
            </div>
        </article>
    </section>
    <footer id="about-footer">
        <h2>About Roids</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia veniam deleniti, 
            tempora ipsam aperiam tempore a maxime non asperiores dolorem placeat maiores atque possimus. 
            Libero nihil accusantium eum aliquid unde.
        </p>
    </footer>
</div>