/* Panels UI */
.app-panel {
  background-color: var(--gen-panel-background-color);
  padding: var(--misc-padding);
  border-radius: var(--gen-panel-border-radius);
  box-shadow: var(--gen-panel-shadow);
  box-sizing: border-box;
}