.form-page {
  position: fixed;
}

.form-wrapper {
  max-width: 380px;
  width: 380px;
  margin-top: -150px;
}

.form-wrapper>h1 {
  width: 100%;
  color: var(--app-text-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
}

.form-field {
  width: 100%;
}

.form-label {
  position: absolute;
  margin-top: 11.5px;
  margin-left: 10px;
  padding-left: 4px;
  padding-right: 4px;
  opacity: 0.8;
  font-weight: 400;
  font-size: 10.25pt;
  color: var(--app-text-color);
  background-color: var(--app-scheme-1);
  transition: all 0.1s ease-in-out;
  cursor: text;
}

.form-label.focus {
  margin-top: -9px;
  opacity: 1;
  font-weight: 600;
}

.form-wrapper input[type="text"],
.form-wrapper input[type="password"],
.form-wrapper input[type="text"]:-webkit-autofill,
.form-wrapper input[type="password"]:-webkit-autofill {
  width: 100%;
  padding: 10px;
  font-size: 10.25pt;
  color: var(--app-text-color);
  border: 1px solid var(--app-border-color);
  border-radius: var(--app-border-radius);
  box-sizing: border-box;

  /* Autofill Specific */
  -webkit-text-fill-color: var(--app-text-color);
  -webkit-box-shadow: inset 0 0 0 1000px var(--app-scheme-1);
}

.form-wrapper input[type="text"]::placeholder,
.form-wrapper input[type="password"]::placeholder {
  opacity: 0.6;
}

.form-wrapper input[type="text"]:-ms-input-placeholder,
.form-wrapper input[type="password"]:-ms-input-placeholder {
  opacity: 0.6;
}

.form-wrapper input[type="text"]::-ms-input-placeholder,
.form-wrapper input[type="password"]::-ms-input-placeholder {
  opacity: 0.6;
}

.form-wrapper input[type="text"]:focus+.label-1,
.form-wrapper input[type="password"]:focus+.label-1 {
  color: red;
}

.form-wrapper input[type="text"]:focus,
.form-wrapper input[type="password"]:focus,
.form-wrapper input[type="text"]:-webkit-autofill:focus,
.form-wrapper input[type="password"]:-webkit-autofill:focus {
  border-color: var(--app-primary);
}

.form-wrapper input[type="submit"] {
  width: 100%;
  background: var(--app-primary);
  color: var(--app-scheme-1);
  font-size: 12pt;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: var(--app-border-radius);
  cursor: pointer;
}

.form-wrapper .button:active,
.form-wrapper .button:focus {
  background: var(--app-primary-dark);
}

.form-wrapper .message {
  margin: 15px 0 0;
  color: var(--app-scheme-3);
  font-size: 9.75pt;
}

.form-wrapper .message a {
  color: var(--app-primary);
  text-decoration: none;
}

.form-wrapper .message a:hover {
  text-decoration: underline;
}

/* Untouched */
.form-wrapper .register-form {
  display: none;
}

.login-container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.login-container:before,
.login-container:after {
  content: "";
  display: block;
  clear: both;
}

.login-container .info {
  margin: 50px auto;
  text-align: center;
}

.login-container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.login-container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.login-container .info span a {
  color: #000000;
  text-decoration: none;
}

.login-container .info span .fa {
  color: #EF3B3A;
}