ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.left-nav-items {
  float: left;
}
.right-nav-items {
  float:right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-items{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */



.right-nav-items:hover{
  background-color: rgb(181, 0, 0);
  transition: background-color .5s ease-in-out;
}

.login-btn{
  background-color: green;
}