<div class='custom-container'>
  <h1>Users (Index)</h1>

  <div id="users">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Technologies</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <%= render partial: 'row', locals: { user: user } %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "New user", new_admin_user_path %>
  <br>

  <%== pagy_nav(@pagy) %>
</div>
