<div>
  <h1>Editing blog</h1>

  <%= render "form", blog: @blog %>

  <br>

  <div>
    <%= link_to "Show this blog", [:admin, @blog] %> |
    <%= link_to "Back to blogs", admin_blogs_path %>
  </div>
</div>
