<div class='custom-container'>
  <p style="color: green"><%= notice %></p>

  <h1>Teams</h1>

  <div id="teams">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team Name</th>
          <th scope="col">Members</th>
          <th scope="col">Owner</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @teams.each do |team| %>
          <%= render partial: 'row', locals: { team: team } %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "New team", new_admin_team_path %><br>
  
  <%== pagy_nav(@pagy) %>
</div>
