<h1>Editing team request</h1>

<%= render "form", team_request: @team_request %>

<br>

<div>
  <%= link_to "Show this team request", @team_request %> |
  <%= link_to "Back to team requests", team_requests_path %>
</div>
