<div class="homepage">
  <ul>
    <%= link_to 'Ruby on Roids', root_path, class: 'left-nav-items nav-items' %>
    <%= link_to 'Register', register_path, class: 'right-nav-items nav-items login-btn' %>
    <li class="right-nav-items"><a href="/">Events</a></li>
  </ul>
</div>