<div class="homepage">
  <ul>
    <li><a href="/">Ruby on Roids</a></li>
    <li class="right-nav-items login-btn"><a href="/">Login / Register</a></li>
    <li class="right-nav-items"><a href="/">Events</a></li>
  </ul>
</div>